:root{
    --primario:#D81B60;
    --primario-hover:#F48FB1;    
    --secundario:#5E35B1;
    --fondo-secundario:#D1C4E9;
    --subtitulos:#7E57C2;
    --degrado-inicio:61, 90, 254;
    --degrado-fin:126, 87, 194;
    

}