:root{
    --primario:#6A1B9A;
    --primario-hover:#EA80FC;    
    --secundario:#9575CD;
    --fondo-secundario:#E1BEE7;
    --subtitulos:#7E57C2;
    --degrado-inicio:106,27,154;
    --degrado-fin:149, 117, 205;
    

}