section{
    min-height: 200px;
}

.titulo-secciom{
    height: 300px;
}

#Contenido{
    height: 200px;
}


.titulo-principal{
    font-size: 3rem;
 
}

.titulo-secundario{
    font-size: 2rem;
}

.btn-content{
    width: 160px;
    height: 160px;
    font-size:1.2rem;
    text-shadow: 1px 1px #333;
}

.aparecer-desaparecer {
    display: block !important;
    animation: animacion-pleca .6s ease-in-out;
}