section{
    min-height: 200px;
}

.titulo-secciom{
    height: 300px;
}

#Contenido{
    height: 200px;
}


.titulo-principal{
    font-size: 3rem;
    text-shadow: 2px 2px 2px var(--primario-hover);
}

.titulo-secundario{
    font-size: 2rem;
    text-shadow: 2px 2px 2px var(--primario-hover);
}

.btn-content{
    width: 160px;
    height: 160px;
    font-size:1rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px #333;
}

.aparecer-desaparecer {
    display: block !important;
    animation: animacion-pleca .6s ease-in-out;
}


#intro{
    background-image: url("../images/inicio/encabezado_escritorio.jpg");
}

@media (max-width: 576px) {
    #intro {
        background-image: url("../images/inicio/encabezado_movil.jpg");
    }
}