@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
    height: 50vh !important;
  }
}

.uv-title {
  font-size: 18px !important;
  line-height: 25px !important;
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  text-rendering: auto !important;
  -webkit-font-smoothing: auto !important;
  -webkit-tap-highlight-color: black !important;
  padding: 0 8;
}

a {
  color: var(--primario);
}

a:hover {
  color: var(--primario-hover);
  font-weight: 400;

}
a.navbar-brand {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.uv-title {
  /* margin: 0 0 12px 0; */
  /* text-align: center; */
  /* vertical-align: middle; */
  background-color: #0d47a1;
  /* padding: 0; */
}

.uv-title span{
  padding-left: 12px;
  padding-right: 12px;
}

.navbar .nav-link {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  color: #fff !important;
}

.nav-show {

  background: linear-gradient(45deg,
  rgba(var(--degrado-inicio), 1),
  rgba(var(--degrado-fin), 1) 100%);
}

 .btn{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
 }

.bg-primario {
  background-color: var(--primario);
  color: #fff;
}

.bg-primario:hover {
  background-color: var(--primario-hover);  color: #000;
}

.bg-primario.active{
  background-color: var(--primario-hover);
    color: #000;
}

.bg-primario[aria-expanded="true"] {
  background-color: var(--primario-hover);
  color: #000;
}

 

.bg-secundario {
  background-color: var(--secundario);
    color: #fff;
}

.bg-secundario .titulo-seccion {
  color: #fff;
}


.bg-temario {
  background-color:var(--fondo-secundario);
  color:#000;
}

.bg-temario .titulo-seccion {
   
  font-family: 'Fira Sans', sans-serif;

}
.bg-fondo {
  background-color: var(--fondo-secundario);
  color: #000;
}

.bg-fondo .titulo-seccion {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;

}

.titulo-seccion {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.81rem;
  font-weight: 600;
  color: var(--subtitulos);
  text-transform: uppercase;

   

}

.titulo-contenido {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.81rem;
  font-weight: 600;
  color: var(--subtitulos);
  text-transform: uppercase;

}

.parrafo {
  font-size: 1rem;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

.titulo-modulo {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color:  var(--secundario);
  border-bottom: var(--primario) 4px solid;
}

.titulo-modulo span {
  color:  var(--primario);
}


.adorno-titulo {
  width: 100%;
  height: 4px;
  background-color: var(--primario);
  font-family: 'Fira Sans', sans-serif;
}

.icono{
  color:var(--secundario);
}

@media screen and (min-width: 768px) {
  .parrafo {
    font-size: 1.2rem;
  }

  .titulo-seccion {
    font-size: 1.7;
  }

  .titulo-modulo {
    font-size: 3rem;

  }
  .btn{
    font-size: 1.2rem;
  }
}

footer {

  background-color: #DBE1E0;
  color: #515151;
  padding: 2rem 0;
}


.swiper {

  width: 100%;

  height: 500px;

  margin: 2em auto;

}



@media screen and (max-width: 1199px) {

  .swiper {

      width: 80%;

      height: 600px;

  }

}



@media screen and (max-width: 991px) {

  .swiper {

      width: 80%;

      height: 600px;

  }

}



.swiper-3d .swiper-slide-shadow{ background: none; }



.swiper-slide {

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 18px;

  font-size: 1.25em;

  font-weight: normal;

  color: #000;

}



.swiper-slide:nth-child(1n) {
  background-color: #D1C4E9;;
}
.swiper-slide:nth-child(2n) {
  background-color: #C5CAE9;
}
.swiper-slide:nth-child(3n) {background-color:#F8BBD0;}
.swiper-slide:nth-child(4n) {background-color:#B3E5FC;}
.contenedor-swip { padding: 0 3em;}
.cont-num-swip{ position: absolute; right: 3em; bottom: 0; color: var(--secundario); font-weight: bold; }
.tarjetas-fondo div{ padding: 1em 1em 3px; margin-bottom: 1em; }
.tarjetas-fondo div:nth-child(1){ background: #D1C4E9; }
.tarjetas-fondo div:nth-child(2){ background: #C5CAE9; }
.tarjetas-fondo div:nth-child(3){ background: #F8BBD0; }
.tarjetas-fondo div:nth-child(4){ background: #B3E5FC; }

a {
  word-wrap: break-word;
}


.texto-instruccion {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #007C32;
  font-weight: 700;
}

.color4{
  background-color: var(--fondo-secundario);
}

a.btn.btn-primary[aria-expanded="true"] {
  background: red !important;
}




.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--primario);
  border-color: var(--primario);
  font-size: 1.3rem;
}

.fondo-texto {

  background: linear-gradient(45deg,
  rgba(var(--degrado-inicio), 1),
  rgba(var(--degrado-fin), 1) 100%);
}

.border-primario {
  border-color: var(--subtitulos);

}

#BtnUp{
  position: fixed; bottom:50%; right: 16px;display:none ;
}

.btn{
  text-transform: none;
}

.accordion-button{
  font-family: 'Poppins', sans-serif;
}

.accordion-button:after {
  content: '\f106';
  font: var(--fa-font-solid);
  background-image: none;
  color: #fff;
}

.accordion-button:not(.collapsed):after {
  
    background-image: none;
    
  
}

.boton-ventana{
  padding-bottom: 100%;
}
 
