@media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
      height: 50vh !important;
    }
  }

  .navbar .nav-link {
    color: #fff !important;
  }

.nav-show{
  
   background: linear-gradient(45deg,
        rgba(61, 90, 254, 0.7),
        rgba(126, 87, 194, 0.7) 100%);
}

.bg-primario-dark{
    background-color: #0031ca;
    color:#fff;
}
.bg-primario{
    background-color: #3d5afe;
    color:#fff; 
}

.bg-primario:hover {
  background-color: #0031ca;
  color: #fff;
}
.bg-secundario-dark{
    background-color: #E1BEE7;
    color:#fff;
}

.bg-secundario{
    background-color: #BA68C8;
    color:#fff;
}


.titulo-seccion{
    font-size: 3rem;
}

p{
  font-size: 1.3rem;;
}
footer{
    
}